body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

a {
    text-decoration: none;
}

header {
    height: 72px;
}

h2, h3 {
    color: #2E2F42;
}

nav a {
    color: #2E2F42;
}

.nav-logo {
    color: #4d5ae5;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.17;
    text-transform: uppercase;
}

.nav-logo-span {
    color: #2e2f42;
}

nav ul {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 2%;
    line-height: 24px;
    list-style: none;
}

address ul a{
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 2%;
    line-height: 24px;
    list-style: none;
    color: #434455;
}

header ul a {
    font-weight: 500;
    letter-spacing: 0.02em;
}

header ul a:hover, a:focus {
    color: #404bbf;
}

address {
    font-style: normal;
}

/* секція 1 */

.section-one {
    background-color: #2e2f42;
}

.section-one h1 {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.section-one button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer
}

.section-one button:hover, button:focus {
    background-color: #404BBF;
}

/* секція 2 */

.section-twoo h3{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.section-twoo p {
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-size: 16px
}

/* секція 3 */

.section-three {
    background-color: #F4F4FD;
}

.section-three h2 {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.section-three li {
    background-color: #FFFFFF;
}

.section-three h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.section-three p {
    font-size: 13px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* секція 4 */

.section-four h2 {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.section-four h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.section-four p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* футер */

footer {
    background-color: #2e2f42;
}

.footer-logo {
    color: #4d5ae5;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.17;
    text-transform: uppercase;
}

.footer-logo-span {
    color: #f4f4fd;
}

footer p {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;;
}