body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

a {
    text-decoration: none;
}

header {
    height: 72px;
}

.logo-span {
    color: #2e2f42;
}

h2, h3 {
    color: #2E2F42;
}

nav a {
    color: #2E2F42;
}

.nav-logo {
    color: #4d5ae5;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.17;
    text-transform: uppercase;
}

nav ul {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 2%;
    line-height: 24px;
    list-style: none;
}

address ul a{
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 2%;
    line-height: 24px;
    list-style: none;
    color: #434455;
}

header ul a {
    font-weight: 500;
    letter-spacing: 0.02em;
}

header ul a:hover, a:focus {
    color: #404bbf;
}

address {
    font-style: normal;
}

/* секція 1 */

.section1 {
    background-color: #2e2f42;
}

.section1 h1 {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.section1 button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer
}

.section1 button:hover, a:focus {
    background-color: #404BBF;
}

/* секція 2 */

.section2 h2{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.section2 p {
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-size: 16px
}