body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

a {
    text-decoration: none;
}

header {
    height: 72px;
}

.logo-span {
    color: #2e2f42;
}

h2, h3 {
    color: #2E2F42;
}

nav a {
    color: #2E2F42;
}

.nav-logo {
    color: #4d5ae5;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.17;
    text-transform: uppercase;
}

nav ul {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 2%;
    line-height: 24px;
    list-style: none;
}

address ul {
    font-family: Roboto;
    width: 400;
    font-size: 16px;
    letter-spacing: 2%;
    line-height: 24px;
    list-style: none;
    color: #434455;
}

ul a {
    font-weight: 500;
    letter-spacing: 0.02em;
}

ul a:hover, a:focus {
    color: #404bbf;
}
